@import "~bootstrap/scss/bootstrap";

#gameplay,
#cpu {
    width: 370px;
}

.field {
    width: 30px;
    height: 30px;
    margin: 2px;
    float: left;
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: center;
    font-weight: 900;
}

.name,
.cpu {
    width: 50%;
    text-align: center;
}

.btn-outline-primary:hover {
    background-color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #fff;
}
#ships {
    width: 300px;
    height: 200px;
    position: absolute;;
    top: 50px;
    left: 500px;
}

.ships {
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: blue;
}
.ships > p {
    margin: 0;
}